.Audioplayer {
  text-align: center;
  padding: 5%;
}

.recipe-page {
  text-align: center;
  padding: 5%;
}

.random-recipe {
  text-align: center;
  padding: 5%;
}

.random-button {
  text-align: center;
}