.Audioplayer {
  /* background: #000; */
  color: #fff;
  background-image: linear-gradient(rgb(56, 95, 255), rgb(133, 201, 197));
  text-align: center;
  padding: 1%;
}

.Audioplayer-title {
  font-size: 48px
}

.homepage {
  display: flex;
  justify-content: center;
}

.homepage-greeting {
  /* display: flex;
  justify-content: center; */
  padding: 1%
}

.homepage-image {
  width: 1550px;
  height: 1550px;
  border: 5px solid rgb(247, 246, 246);
  border-radius: 30px;
  object-fit: cover;
}

.recipe-page {
  text-align: center;
  padding: 5%;
}

.random-recipe {
  text-align: center;
  /* padding: 1%; */
  /* background-image: linear-gradient(rgb(56, 95, 255), rgb(133, 201, 197)); */
}

.random-button {
  text-align: center;
  color: #fff;
}

.signin {
  text-align: center;
  padding: 5%;
  font-size: 50px;
}

/* Profile component */

.profile {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 5px solid rgb(247, 246, 246);
  border-radius: 30px;
  object-fit: cover;
}

.profile-name {
  font-size: 14px;
}

.profile-followers , .profile-genres {
  font-size: 10px;
}

/* Audio Player styling */

.track-play {
  /* width: 150px;
  height: 50px;
  border: 5px solid rgb(247, 246, 246);
  border-radius: 30px;
  object-fit: cover;
  padding-left: 500px; */
}

.track-play-inner {
  /* width: 150px;
  height: 150px;
  border: 5px solid rgb(247, 246, 246);
  border-radius: 30px;
  object-fit: cover;
  padding-left: 5px; */
}