.Audioplayer {
  /* background: #000; */
  color: #fff;
  background-image: linear-gradient(rgb(56, 95, 255), rgb(133, 201, 197));
  text-align: center;
  padding: 5%;
}

.Audioplayer-title {
  font-size: 28px
}

.recipe-page {
  text-align: center;
  padding: 5%;
}

.random-recipe {
  text-align: center;
  padding: 5%;
}

.random-button {
  text-align: center;
  color: #fff;
}

/* Profile component */

.profile {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 5px solid rgb(247, 246, 246);
  border-radius: 80px;
  object-fit: cover;
}

.profile-name {
  font-size: 14px;
}

.profile-followers , .profile-genres {
  font-size: 10px;
}